*.gem
.bundle
vendor/bundle
pkg/*
.vagrant
bin/*
files/**/cache/
vendor/cookbooks
.flapjack-package-cache
.DS_Store
.elasticbeanstalk/
aptly.conf
aptly/*
createrepo/*
flapjack_upload_deb.lock
flapjack_upload_rpm.lock
