language: ruby
rvm:
- 1.9.3
- '2.2'
before_script:
- mkdir -p ./log
before_install:
- gem install bundler
install:
- bundle install
script: bundle exec rspec spec/lib
notifications:
  irc:
    channels:
    - irc.freenode.net#flapjack
    template:
    - "%{message} %{repository}#%{build_number} (%{branch} - %{commit} : %{author})"
  slack:
    secure: OofLeRwdslYINtupe/KtLN63zzBh2rGOV9KqRg4LUOk2W83msGDoPzeWUIC3BkUA1lttpciBmJJhIozMWt6oFcJZEUL+AhNZjbmUZIyFf3mdk8OQ0GGTrqDGNylZ0KbdJPNGM/0CqESTO9nE4INUZ6mrpYUqD2dCw5ASQuidwhA=
