{
  "rootDir": "/home/sarah/.aptly",
  "downloadConcurrency": 4,
  "downloadSpeedLimit": 0,
  "architectures": [],
  "dependencyFollowSuggests": false,
  "dependencyFollowRecommends": false,
  "dependencyFollowAllVariants": false,
  "dependencyFollowSource": false,
  "gpgDisableSign": false,
  "gpgDisableVerify": false,
  "downloadSourcePackages": false,
  "ppaDistributorID": "ubuntu",
  "ppaCodename": "",
  "S3PublishEndpoints": {
    "test": {
      "region": "ap-southeast-2",
      "bucket": "mybucket",
      "awsAccessKeyID": "mykey",
      "awsSecretAccessKey": "mysecretkey",
      "prefix": "deb",
      "acl": "public-read"
    }
  }
}
